
			<div class="row">
				<main class="col-md-12">
                    <h1> Welcome </h1>
                    <p> 
                        I welcome you to my website. This is a simple website.
                    </p>
                    <h2> About </h2>
                    <p>
                        <b>Name: Aiswarya Francie Challat<br/>
                    	<b>Student ID: 134229210<br/>
                        <b>Program: Business Information Technology</br>


					</p>
				</main>
			</div>
		</div>

	